<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cadastrarBotanica.Properties.Settings.consultoriaPlantasTCCConnectionString"
            connectionString="Data Source=LAPTOP-UC8GBJH9\SQLEXPRESS;Initial Catalog=consultoriaPlantasTCC;Persist Security Info=True;User ID=sa;Password=etesp"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>