<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	  
	  <add name="consultoriaPlantasTCCConnectionString" connectionString="Data Source=LAPTOP-UC8GBJH9\SQLEXPRESS;Initial Catalog=consultoriaPlantasTCC;Integrated Security=True"
		   providerName="System.Data.SqlClient" />

	  <!--<add name="consultoriaPlantasTCCConnectionString" connectionString="Data Source=LAB21T-11\SQLEXPRESS;Initial Catalog=consultoriaPlantasTCC;Integrated Security=True"
		   providerName="System.Data.SqlClient" />-->

	  <!--<add name="consultoriaPlantasTCCConnectionString" connectionString="Data Source=LAB02T-03\SQLEXPRESS;Initial Catalog=consultoriaPlantasTCC;Integrated Security=True"
		   providerName="System.Data.SqlClient" />-->



  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>